[submodule "AnimLib"]
	path = AnimLib
	url = https://github.com/metalisai/AnimLib.git
[submodule "AnimLib.Resources"]
	path = AnimLib.Resources
	url = https://github.com/metalisai/AnimLib.Resources.git
[submodule "AnimLib.Tests"]
	path = AnimLib.Tests
	url = https://github.com/metalisai/AnimLib.Tests.git
[submodule "AnimLib.Libs"]
	path = AnimLib.Libs
	url = https://github.com/metalisai/AnimLib.Libs.git
[submodule "AnimLib.Native"]
	path = AnimLib.Native
	url = https://github.com/metalisai/AnimLib.Native.git
[submodule "AnimLib.ImGui"]
	path = AnimLib.ImGui
	url = https://github.com/metalisai/AnimLib.ImGui.git
